:root {
  /* ### Primary */
  --Red: hsl(4, 100%, 67%);

  /* ### Neutral */
  --Blue-800: hsl(234, 29%, 20%);
  --Blue-700: hsl(235, 18%, 26%);
  --Grey: hsl(0, 0%, 58%);
  --White: hsl(0, 0%, 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  min-height: 100vh;
  background-color: var(--Blue-700);
  font-family: "Roboto", sans-serif;
}

.newsletter-modal {
}

.newsletter-modal__wrapper {
  max-width: 60rem;
  margin: 0 auto;
}

.newsletter-modal__form-container {
  display: flex;
  background-color: var(--White);
  padding: 1rem;
  border-radius: 11px;
}

.newsletter-modal__text-box {
  flex: 1;
  padding: 2rem;
}

.newsletter-modal__title {
  font-size: 3rem;
  color: var(--Blue-800);
  margin-bottom: 1rem;
}

.newsletter-modal__image-box {
  background-image: url("../assets/images/illustration-sign-up-desktop.svg");
  flex: 1;
  background-size: contain;
  background-repeat: no-repeat;
}
